langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-google-genai
langchain-chroma
sentence-transformers
pydantic
python-dotenv
streamlit
pandas
numpy
scikit-learn
joblib
matplotlib
imbalanced-learn
langgraph